.para {
    color: blue;
}

#para1 {
    color: red;
}

.para {
    color: green;
}

.img {
    width: 100px;
    height: auto;
    margin: auto;


}

.post-heading {
    color: indigo;
}

.post {
    background-color: grey;
    margin: 10px;
    padding: 20px;
    border: red solid 10px;
    color: green;
}

.spanex {
    font-size: 50px;
}

.container {
    background-color: skyblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.child-container {
    margin: 10px;
    padding: 10px;
    background-color: royalblue;
    width: 20%;
}